body {
    background-image: url('/src/asset/bg.jpg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat; 
    text-align: justify;
}

::-webkit-scrollbar{
    background-color: rgb(255, 255, 255);
    width: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-top: 6rem;  
    gap: 1.5rem; 
}

.navbar {
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.392); 
    border-radius: 1rem; 
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 20rem; 
    padding: 1rem;
    word-spacing: 1.5rem;
    z-index: 1000;
    transition: top 1s ease;
    margin-top: 70px;
    font-family: 'Lato';
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

/* main */
.main{
    margin-top: 300px;
    margin-bottom: 30rem;
}

.intro-upper {
    color: white;
    text-align: center;
    font-size: 38px;
    margin-bottom: -5px;
    font-family: 'Oswald';
}

.intro-below {
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: 'Lato';
    
}

/* cv */
.cv {
    display: inline-block;
    margin-top: 1rem;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Lato';

}

.cv-wrapper{
    text-align: center;
}

.cv:hover {
    background-color: rgba(170, 161, 161, 0.336);;
    color: white;
    transition-duration: 1s;
}


/* projects */
.project-title{
    margin-left: 14px;
    margin-bottom: -30px;
}

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    border-radius: 1.5rem;
    box-sizing: border-box;
}

.project-card {
    background-color: #43424264;
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
    transition: transform 0.3s ease;
    margin-bottom: 100px;
}


.project-card:hover {
    transform: scale(1.05);
    z-index: 10;
}

.projects-row {
    display: flex;
    gap: 2rem; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
}

.project-upper{
    color: white;
    text-align: left;
    font-size: 38px;
    margin-bottom: 35px;
    font-family: 'Oswald';
}

/* inventory */
.inventory{
    margin-bottom: -15px;
}

.inventory img {
    width: 100%; 
    display: block;
}

.inven-wrapper {
    border-radius: 1rem;

    padding: 1rem;
    width: 30rem; 
    left: 0;
}

.inven-upper{
    text-decoration: none;
    color: white;
}

.inven-lower{
    text-align: center;
}


/* skills */
.skills-title{
    margin-left: 14px;
    margin-bottom: -30px;
}

.skills-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 2rem;
    padding: 1rem;
    width: 105%;
    border-radius: 1.5rem;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.skills-card {
    background-color: #2a2a2a7b;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
    transition: transform 0.3s ease;
    text-align: center;
}


.skills-card:hover {
    transform: scale(1.05);
    z-index: 10;
}

.skills-row {
    display: flex;
    gap: 2rem; 
    justify-content: flex-start; 
    flex-wrap: wrap; 
    
}

.skills-upper{
    color: white;
    text-align: left;
    font-size: 38px;
    margin-bottom: 35px;
    font-family: 'Oswald';
}

.skill-card:hover {
  transform: scale(1.05);
}

.icon{  
    vertical-align: middle;
    width: 40px;
}

.skills{
    font-size: 15px;
    font-family: 'Oswald';
    align-items: center;
    display: flex;
    gap: 14px;
}

.skills-text {
    vertical-align: middle;
    line-height: 40px;
}



/* contact */
.contact-upper{
    color: white;
    text-align: left;
    font-size: 38px;
    margin-bottom: 35px;
    font-family: 'Oswald';
}

.contact-wrapper{
}






@media (max-width: 768px) {
  .project-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
  }
}

@media (hover: none) and (pointer: coarse) {
  .project-card:active {
    transform: scale(1.05);
    z-index: 10;
  }
}

@media (max-width: 768px) {
  .skills-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
  }
}

@media (hover: none) and (pointer: coarse) {
  .skills-card:active {
    transform: scale(1.05);
    z-index: 10;
  }
}